@use 'src/styles/vars';

.form-page  {
  width: 100%;
  background-color: var(--lighter-first-color);
  min-height: 90vh;
  position: relative;
  padding-top: 2rem;

  &__notification {
    width: 70%;
    margin: auto;
    background-color: var(--lighter-first-color);
    border: 1px solid #1a1a1a;
    padding: 1rem;

    &-message {

      &--refusal {
        margin: 1rem auto;
        width: 50%;
        border-radius: 5px; 
        background-color: rgb(250, 148, 148);
        color: rgb(117, 13, 13);
        padding: 0.5rem;
        border: 1px solid rgb(117, 13, 13);
      }
      
    }

    &-button button{
      
      @include vars.button;
      margin: 1rem;
    }
  }

  &__thread {
    cursor: pointer;

    &-step {
      display: none;
      height: 5vh;
      border: 1px solid var(--dark-color);
      background-color: var(--thread-background);
      text-transform: uppercase;
      font-size: 0.8em;
      text-align: center;
      color: var(--fourth-color);
      font-weight: bold;
      width: 100% !important;


      &--open, &:hover {
        @include vars.centeredFlex;
        // font-style: italic;
        color: var(--first-color);
        background-color: var(--fifth-color);
      }
    }
  }

  &__container {
    @include vars.centeredFlex;
    flex-direction: column;
    position: relative;

    &-link  {
      all: unset;
      cursor: pointer;
      color: var(--third-color);
      text-decoration: underline;
      text-align: center;
      display: block;
      font-size: 0.8em;
      margin: 1rem auto 2rem;
    }
  }
}

.form-container {
  width: 100%;
  // background-color: var(--background-page);
}

.form {
  width: 90%;
  margin: 0 auto 1rem;
  max-width: 700px;
  height: fit-content;
  padding: 1rem 1rem 0;
  border-radius: vars.$radius *2;
  position: relative;
  // overflow: hidden;

  &__graphic-validation {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -10px;
    right: -10px;
    overflow: hidden;

    &-ribbon {
      
      position: absolute;
      transform: rotate(45deg);
      left: -25px;
      top: 30px;
      width: 225px;
      padding: 15px 0;
      font-weight: bold;
      text-transform: uppercase;
      @include vars.centeredFlex;
      box-shadow: 0px 5px 5px rgba(26, 26, 26, 0.8);
      background-color: var(--backgroundError);
      color: var(--textError);
      border-bottom: 1px solid var(--textError);

      
      &--validated {

        background-color: var(--backgroundSuccess);
        color: var(--textSuccess);
        border-bottom: 1px solid var(--textSuccess);
      }
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after, &::before {
      position: absolute;
      z-index: -1;
      content: '';
      border-top-color: transparent;
      border-right-color: transparent;
      display: block;
      border: 5px solid var(--backgroundError);
    }

    &--validated {
      &::after, &::before {
        border-color: var(--textSuccess);
      }
    }

    & svg {
      margin-right: 0.5rem;
    }
  }

  &__text {
    &:nth-of-type(3) {
    font-weight: bold;
    color: rgba(var(--darkestThemeColor));
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    }
  }

  &__section {
    
    &-category {
      margin-bottom: 2rem;

      &__title {
        color: blue;
        margin: auto 2rem;
        height: 3rem;
        border: 1px solid red;
      }

      &__body {
        // display: none;
        height: 0;
        overflow: hidden;
        // height: 10rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 0 0 vars.$radius vars.$radius;
        transition: 0.6s;

        &--open {
          height: fit-content;
          // display: block;
          // padding: 0 0.5rem 0.5rem;
        }
      }
      
    }
    &-notification-message {
      text-align: left;
      margin: 1rem 1rem 2rem;
    }

    &-container {
      // height: 1rem;

      &--open {
        padding: 0.5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: 1px solid rgb(153, 150, 150);
        background-color: #fff;
      }

      &-options {
        
      }

      &-delete-button {
        all: unset;
        font-style: italic;
        cursor: pointer;
        color: var(--third-color);
        font-size: 0.8em;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem
      }

      &-button {
         & a, & button {
          @include vars.button;
          @include vars.centeredFlex;
          max-width: 100%;
          margin: 0;
          margin: 1rem;
          font-size: 1em;
          height: 2.5rem;
         }
         &--hidden {
            display: none;
        }
      }
    }

    &-progress {
      width: 100%;
      height: 1.5rem;
      border-radius: 5px;
      overflow: hidden;
      background-color: var(--first-color);
      border: 1px solid var(--third-color);
      position: relative;
      margin-bottom: 2rem;

      &-partial {
        height: 100%;
        border-radius: inherit;
        background-color: var(--third-color);
        border: 2px solid var(--first-color);
        transition: 1s;
        
        &-percent {
          position: absolute;
          left: 48%;
          top: 10%;
          color: var(--fifth-color);

          &--light {
            color: var(--first-color);
          }
        }
      }
    }

    &--hidden {
      display: none;
    }

    &-message {
      margin: auto;
      // padding: 1rem;
      border-radius: 10px;
      text-align: justify;

      &--infos {
        font-weight: bold;
        font-size: 0.9em;
        font-style: italic;
        padding: 0.5rem;
        & span {
          color: var(--third-color);
          font-weight: bold;
        }
      }

      &--error, &--success {
        width: 80%;
      }

      &--error {
        background-color: var(--backgroundError);
        // border: 1px solid var(--textError);
      }
    
      &--success {
        background-color: var(--backgroundSuccess);
        // border: 1px solid var(--textSuccess);
      }
    }

    &-recap {
      // color: aqua;

      &--infos {
        font-style: italic;
        font-size: 0.9em;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        text-align: justify;

        & a {
          text-decoration: underline;
          color: rgba(var(--darkestThemeColor));
        }
      }

      &--lister {
        text-decoration: underline;
        margin-top: 0.5rem;
      }

      & span {
        font-weight: 600;
      }
    }
    &-list {
      // border: 1px solid red;
      padding: 0 1rem;

      &-item {
        // padding-bottom: 0.5rem ;
        margin-bottom: 1rem ;
        // border-bottom: 1px solid red;
        display: flex;
        align-items: center;

        & svg {
          margin-right: 1rem;
        }
        &:last-of-type {
          margin: 0;
          border: 0;
        }
      }
    }
  }
}



@media (min-width: vars.$sm) {
  
.form-container {
  width: 80%;
  margin: auto;

  &--vehicle {
    // width: 50%;
  }
}

  .form-page {
    background-color: #fff;
    &__thread {
      width: 100%;
      display: flex;
      // z-index: -1;

      &-step {
        width: 20%;
        @include vars.centeredFlex;
        
        &--solo {
          width: 100%;
        }

        & span {
          display: none;
        }
      }
    }
  }

  .form {
    padding: 2rem;
    width: 75%;
    background-color: var(--lighter-first-color);
    border: 1px solid #1a1a1a;

    &__section {
    
      &-category {
        &__body {
          &--open {
            padding-top: 1rem;
          }
        }
        
      }

      &-container {

        &-delete-button {
          text-align: left;
          margin-left: 1rem;
        }
      
        &-options {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

          & .form__section-field,
          & .form__section-container-button {
            width: 30%;

            & a {
              border: 1px solid #1a1a1a;
              width: 100%;
              height: 2.5rem;
              max-width: 100%;
              margin: 0;

              &:focus,
              &:hover {
                color: #fff;
              }
            }
          }

          & .form__section-field:nth-of-type(2) {
            width: 15%;
            margin-bottom: 0.3rem;
          }
        } 
      }
    }
  }

}

@media (min-width: 800px) {
  .form-page__thread {

    &-step {
      font-size: 1em;
    }
  }
}

@media (min-width: 1200px) {
  
  .form-container {
    &--vehicle {
      width: 60%;
    }
  }

}
