@use 'src/styles/vars';

.form__section {

  &-notification-message {
    text-align: left;
    margin: 1rem 1rem 2rem;
  }
  &--documents {
    display: flex;
    justify-content: space-between;
  }

  &--split  {
    margin: 1rem;
  }

  &-half {
    width: 50%;
    margin: 1rem auto;

    &--separator {
      border-bottom: 1px solid #1a1a1a;
    }

    &-title {
      text-align: center;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    &:nth-of-type(2) {
      // TROUVER UNE SOLUTION POUR LES PIECES JUTIFICATIVES
      // @include vars.centeredFlex;

      & img {
        height: 100%;
      }
    }
  }

  &-container {
    border: 1px solid var(--first-color);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    &-options {
      
    }
    &-button {
        & a, & button {
        @include vars.button;
        @include vars.centeredFlex;
        max-width: 100%;
        margin: 0;
        margin: 1rem;
        font-size: 1em;
        height: 2.5rem;
        }
        &--hidden {
          display: none;
      }
    }

  }
    &-container{

      // &:#meal-rules {
      //   background-color: #f0f;
      // }

      &-reminder {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.8em;
      }
      &-title {
        text-transform: uppercase;
        text-align: center;
        color: var(--second-color);
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 1rem;
      }
      &-separator {
        width: 90%;
        margin: 1rem auto;
        border-bottom: 1px solid rgba(var(--darkestThemeColor));
      }

      &-text {
        margin-top: 1rem;
        text-align: justify;
        font-size: 0.8em;

        &__span {
         margin-right: 0.5rem;
        }

        & span {
         text-transform: uppercase;
         color: var(--second-color);
         font-weight: bold;
        }

        &--infos {
          font-style: italic;
        }
      }
      &-list {
        margin: 0.5rem 2rem;
        font-size: 0.8em;
        font-weight: bold;
        // margin-left: 2rem;
      }
    
      &-options {

        &__separator {
          margin: auto;
          display: block;
          margin: 0.5rem auto;
          text-transform: uppercase;
          text-align: center;
          color: var(--second-color);
          font-weight: bold;
          font-size: 1.2em;
        }
        & .form__section-field {
          display: flex;
          margin-bottom: 0;
          justify-content: center;
          
          &:last-child {
            width: 15%;
            margin-bottom: 0.3rem;
          }
        }

        // & .form__section-field,
        // & .form__section-container-button {
        //   justify-content: center;
        //   width: 30%;

        //   & a {
        //     border: 1px solid #1a1a1a;
        //     width: 100%;
        //     height: 2.5rem;
        //     max-width: 100%;
        //     margin: 0;

        //     &:focus,
        //     &:hover {
        //       color: #fff;
        //     }
        //   }
        // }
      }
    }

  &-field {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    width: 100%;

    &-modal {
      display: flex;
      // justify-content: space-between;

      &-icon {
        margin-left: 0.5rem;
        color: rgba(var(--darkerThemeColor));
        font-size: 1.2em;
        cursor: pointer;
      }
    }

    &-container {
      display: flex;
    }

    &-steps {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-pre-input{
      width: 3rem;
      border: 0.5px solid rgb(153, 150, 150);
      background-color: var(--third-color);;
      border-right: 0;
      height: 2.5rem;
      border-radius: 5px 0 0 5px;
      margin-top: 0.1rem;
      @include vars.centeredFlex;
    }

    &-input-text {
      width: calc(100% - 3.1rem);
      position: relative;
      padding: 0.5rem;
      min-height: 2.5rem;
      margin-top: 0.1rem;
      border-radius: 0 5px 5px 0;
      border: 0.5px solid rgb(153, 150, 150);
      border-width: 0.5px;
    }

    &-input {
      width: 100%;
      position: relative;
      padding: 0.5rem;
      min-height: 2.5rem;
      margin-top: 0.1rem;
      border-radius: 5px;
      border: 0.5px solid rgb(153, 150, 150);
      background-color: #fff;
      border-width: 0.5px;
      overflow: hidden;

      & div {
        text-align: left;
        margin-left: 3rem;
        height: 100%;
      }

      &--file {
        
        &-input {
          
          padding-left: 3rem;
          position: fixed;
          top: -1rem;
          font-size: 0;
          display: none;
        }

        &::before {
          content: url('src/assets/images/upload.svg');
          width: 3rem;
          left: 0rem;
          top: 0;
          background-color: var(--third-color);
          height: 100%;
          position: absolute;
          text-align: center;
          padding-top: 0.5rem;
          cursor: pointer;
        }
      }
      &--file::before {

      }

    }

    &-label {
      font-size: 1em;
      // font-weight: bold;
      text-align: left;
      margin-bottom: 0.1rem;
      display: flex;
      align-items: center;



      &--infos {
        font-style: italic;
        margin-top: 0.1rem;
        font-size: 0.9em;
        color: var(--second-color);
        margin-bottom: 1rem;

        & span {
          color: var(--fifth-color);
          margin: 0 0.2rem;
          font-size: 1.2em;

        }
      }
    }

    &-select-help {
      margin-top: -0.5rem;
      margin-left: 0.5rem;
      font-weight: bold;
      font-style: italic;
      font-size: 0.8em;
      cursor: pointer;
      color: rgba(var(--darkestThemeColor));

      &:hover {
        text-decoration: underline;
      }
    }

    &-radio {
      display: flex;

      & input {
        margin-right: 1rem;
      }

      & label {
        // font-size: 0.9em;
        text-align: left;
      }
    }

    &--hidden {
      display: none;
    }

    &-refusal {
      width: 80%;
      margin: auto;
      background-color: rgb(250, 148, 148);
      color: rgb(117, 13, 13);
      border: 1px solid rgb(117, 13, 13);
      padding: 1rem;
      border-radius: 10px;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      margin: 0rem 0 0 1rem;
      
      &--column {
        flex-direction: column-reverse;
        margin: 0;
        margin-bottom: 0.3rem;
      }
    }

    &-buttons {
      // display: flex;
      // justify-content: center;
      margin: 2rem;

      & button {
        @include vars.button;
        max-width: 180px;

        &:last-of-type {
          margin-right: 0;
        }

      }
      &--solo {
        display: flex;
        justify-content: center;

      }

      &__row {
        display: flex;
        justify-content: center;

        &:first-of-type {
          margin-bottom: 0.5rem;
        }
        
        & a {
          @include vars.button;
          background-color: var(--fourth-color);
          color: var(--first-color);
          max-width: 180px;
  
          &:last-of-type {
            margin-right: 0;
          }
  
        }
      }


      &--validation {
        flex-direction: column;

        & button {
          margin: 0 auto 1.5rem ;

          &:nth-of-type(2),
          &:nth-of-type(3) {
            margin: 0 auto 0.5rem;
          }
        }
      }
    }

    &-toggle {
      text-align: left;
      margin-bottom: 1rem;
      // font-size: :em;
      font-weight: bold;
    }

    &-textarea {
      
      font-family: inherit;
      padding: 0.5rem;
      border: 0.5px solid rgb(153, 150, 150);
      border-radius: 5px;
    }

    &-button {
      width: 100%;
      // height: 5rem;
      @include vars.centeredFlex;

      & button {
        @include vars.button;
        max-width: 100%;
        // width: fit-content;
        margin: 1rem auto 2rem;
      }
      
    }

    &-error {
      color: rgb(117, 13, 13);
      background-color: rgb(250, 148, 148);
      border-radius: vars.$radius;
      font-style: italic;
      font-size: 0.8rem;

      &--open {
      padding: 0.5rem;
      margin: 0.5rem 0;

      }

      & p {
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
        & span { 
          font-weight: bold;
          margin-right: 0.2rem
        }
      }
    }
  }

  &-progress {
    width: 100%;
    height: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--first-color);
    border: 1px solid var(--third-color);
    position: relative;
    margin-bottom: 2rem;

    &-partial {
      height: 100%;
      border-radius: inherit;
      background-color: var(--third-color);
      border: 2px solid var(--first-color);
      transition: 1s;
      
      &-percent {
        position: absolute;
        left: 48%;
        top: 10%;
        color: var(--fifth-color);

        &--light {
          color: var(--first-color);
        }
      }
    }
  }

  &--hidden {
    display: none;
  }

  &-addresses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &-planning {
    padding: 0 0.5rem 0.5rem;
  }
}



@media (min-width: vars.$sm) {
  .form__section {
      
    &--split  {
      display: flex;
      justify-content: space-between;
    }

    &-half {
      width: 45%;
      margin-top: 0;

      &--separator {
        border-bottom: 0;
        width: 1px;
        border-left: 1px solid #1a1a1a ;
        margin: 0 0.5rem;
      }
    }
      // OM FORM STYLE 188
    &-container{
      &-reminder {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.8em;
      }
      &-title {
        text-transform: uppercase;
        text-align: center;
        color: var(--second-color);
        font-weight: bold;
        font-size: 1.2em;
      }
    
      &-options {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__separator {
          margin: 0.7rem 1rem;
        }
        & .form__section-field {
          display: flex;
          margin-bottom: 0;
          justify-content: center;
          
          &:last-child {
            width: 15%;
            margin-bottom: 0.3rem;
          }
        }

        & .form__section-field,
        & .form__section-container-button {
          justify-content: center;
          width: 30%;

          & a {
            border: 1px solid #1a1a1a;
            width: 100%;
            height: 2.5rem;
            max-width: 100%;
            margin: 0;

            &:focus,
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  } 
}

.address {
  // background-color: #ffffff40;
  // border: 1px solid rgb(153, 150, 150);
  // padding: 1rem 1rem 0.5rem;
  border-radius: 5px;
  // margin-bottom: 1rem;
  display: none;

  &__section {
    display: flex;

    & div {
      flex-grow: 1;
      margin-right: 1rem;
    }

    & div:last-of-type {
      margin-right: 0;
    }

    &--delete {
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition: 0.6s;

      & p {
        margin-left: 1rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &--open {
    display: block;
  }
}
