@use 'src/styles/vars';
@use 'sass:math';

$test : #{var(--first-color)};

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.my-documents {
  min-width:100vw;
  margin: auto;
  min-height: 100%;
  // background-color: var(--lighter-first-color);
  padding-top: 1rem;

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    margin: 1rem;
    line-height: 120%;
  }

  &__button {

    margin: 1rem 0;

    & a, & button {
      @include vars.addButton;
      // margin: 1rem auto;
      width: fit-content;
      padding: 0.8rem 1.3rem;
      margin: auto;
      font-size: 1em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      color: var(--opposite-theme-color);
    }
  }

  &__files {
    padding: 1.5rem;
    min-height: 50vh;
    height: fit-content;
    overflow: hidden;
    background-color: var(--lighter-first-color);
    // background-color: transparent;
    border-radius: 0 0 vars.$radius vars.$radius;
    border: 1px solid #1a1a1a;
    border-top: 0;
    // box-shadow: 1px 1px 5px #1a1a1a;

    &-buttons {
      display: flex;
      justify-content: center;
      // flex-wrap: wrap;
      margin: 1rem;


      & a, & button  {
      @include vars.button;
      margin-bottom: 0.5rem;
      
      font-size: 0.7em;
      text-align: center;
      display: flex;
      align-items: center;
      width: 35%;
      }

      &--links-menu {
        justify-content: space-between;
        border-bottom: 1px solid rgba(var(--darkestThemeColor));
        padding-bottom: 1rem;

      }

      &--buttons-menu {
        justify-content: center;
      }

      &--buttons-menu, &--links-menu {
        flex-wrap: wrap;

        & a {
          width: 35%;
        }
      }

      &--validation {
        flex-direction: column;

        & button {
          margin: 0 auto 1.5rem ;

          &:nth-of-type(2),
          &:nth-of-type(3) {
            margin: 0 auto 0.5rem;
          }
        }
      }

      &-icon {
        margin-right: 0.5rem;
        font-size: 1.5rem;
        min-width: 1rem;
        min-height: 1rem;
        
        &--animated {
          margin-left: 0.5rem;
          animation: spin 1s infinite linear;
        }
      }
    }

    &--open {
      display: flex;
    }

    &-message {
      margin: 2rem auto;
    }

    &-container {
      width: 100%;
      height: fit-content;
      display: flex;
      margin: 2rem;
      flex-flow: row wrap;
      justify-content: space-between;

      &-item {
        width: 50%;
        display: flex;
        margin-bottom: 1rem;

        &--open {
          width: 100%;

          .file-display {
            width: 50%;
          }
        }
      }
    }
  }

  &__container {
    width: 90%;
    margin: 2rem auto;

  }
}

.om-status {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: vars.$radius;
  border: 1px solid #1a1a1a;

  &__steps {
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-step {
      width: 48%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: math.div(vars.$radius, 2);
      text-transform: uppercase;
      min-height: 3rem;
      margin-bottom: 1rem;

      &--validated {
        background-color: rgb(148, 250, 190);
        color: rgb(13, 117, 27);
        border: 1px solid rgb(13, 117, 27);
        position: relative;

        &::after {
          content: '\002714';
          position: absolute;
          bottom: -0.50rem;
          right: -0.50rem;
          text-align: center;
          font-weight: bold;
          border-radius: 50%;
          padding: 0.2rem;
          height: 1.5rem;
          width: 1.5rem;
          background-color: rgb(148, 250, 190);
          color: rgb(13, 117, 27);
          border: 1px solid rgb(13, 117, 27);
        }
      }

      &--not-validated {
        background-color: rgb(250, 148, 148);
        color: rgb(117, 13, 13);
        border: 1px solid rgb(117, 13, 13);
        position: relative;

        &::after {
          content: '\002716';
          position: absolute;
          bottom: -0.50rem;
          right: -0.50rem;
          text-align: center;
          font-weight: bold;
          border-radius: 50%;
          padding: 0.2rem;
          height: 1.5rem;
          width: 1.5rem;
          background-color: rgb(250, 148, 148);
          color: rgb(117, 13, 13);
          border: 1px solid rgb(117, 13, 13);
        }
      }

      &--steps {
        background-color: var(--lighter-first-color);
        color: rgba(var(--darkestThemeColor));
        border: 1px solid rgba(var(--darkestThemeColor));
        position: relative;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   bottom: -0.50rem;
        //   right: -0.50rem;
        //   text-align: center;
        //   font-weight: bold;
        //   border-radius: 50%;
        //   padding: 0.2rem;
        //   height: 1.5rem;
        //   width: 1.5rem;
        //   background-color: var(--first-color);
        //   // color: var(--opposite-theme-color);
        //   border: 1px solid rgba(var(--darkestThemeColor));
        // }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__message {

  }
}


@media (min-width: vars.$sm) {

  .my-documents {
    // background-color: var(--background-page);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__button {
      width: 100%;
      text-align: center;

      & a {
        width: fit-content;
        padding: 0.8rem 1.2rem;        
      }
    }

    &__files {
      width: 70%;
      &-buttons {
        & a {
          width: fit-content;
        }
        

        &--menu {
          flex-wrap: wrap;
          justify-content: space-between;

          & a {
            width: 30%;
          }
        }
      }
    }
  }


}

@media (min-width: 1000px) {

  .my-documents {
    width: 50%;

    &__files {
      width: 50%;

      &-container {
  
        &-item {
          width: fit-content;

          &--open {  
            .file-display {
              width: 70%;
            }
          }
        }
      }
      
      &-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
  
        &-item {
          width: 40%;
          display: flex;
          margin-bottom: 1rem;

          &--open {
            width: 100%;
  
            .file-display {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .om-status {
    &__steps {
      flex-wrap: nowrap;

      &-step {
        margin-right: 1rem;
      }
    }
  }
}
