@use 'src/styles/vars';

.home {
  height: 90vh;
  padding: 1.5rem;

  &__title {
    min-height: 6rem;
    @include vars.centeredFlex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    // background-color: aliceblue;

    &-group {
      display: flex;
      align-items: flex-end;
      height: 100%;
    
      &-capital, &-rest {
        @include vars.pageTitle;
        font-size: 6rem;
        margin: 0;
        line-height: normal;
        // height: 100%;
      }

      &-rest  {
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition: 1s;
        text-transform: lowercase;
        font-size: 2.5em;
        @include vars.centeredFlex;
        padding-bottom: 0.75rem;
      }
    }


    &:hover {
      & .home__title-group {



        &-rest {
          width: fit-content;
          margin-right: 1rem;
          opacity: 1;
          position: relative;
        }
      }
    }


    // &:hover {
    //   transition: 1s;

    //   & .hidden-title {
    //     width: fit-content;
    //   }
    // }
  }

  &__new {
    margin-bottom: 2rem;
    
    &-title {
      border-bottom: 1px solid #1a1a1a;
      color: vars.$unimes;
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      font-weight: bold;
      font-size: 1.5em;
      text-transform: uppercase;
    }

    &-buttons {
      display: flex;
      justify-content: space-around;

      &-item {
        color: vars.$unimes;
      }
    }
  }
}

.hidden-title  {
  width: 0;
  overflow: hidden;

  &--visible {
    transition: 1s;
    width: fit-content;
  }
}

@media (min-width: vars.$sm) {
  .home {
    // height: 100%;
    padding: 3rem;
    width: 70%;
    margin: auto;
  
    &__new {
      margin-bottom: 2rem;
  
      &-buttons {
        display: flex;
        justify-content: space-around;
  
        &-item {
          color: vars.$unimes;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .home {
    width: calc( 100vw - 300px);
  }
}
