@use 'src/styles/vars';

.myOms {
  width: 100%;

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    margin: 1rem;
    line-height: 120%;
  }

  &__button {

    & button {
      @include vars.button;
      margin: 1rem auto;
    }
  }

  &__files {

    margin-bottom: 4rem;

    &-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      &-item {
        width: 45%;
        display: flex;
        margin-bottom: 1rem;

        &--open {
          width: 100%;

          .file-display {
            width: 40%;
          }
        }
      }
    }
  }
}


@media (min-width: vars.$sm) {

  .myOms {
    
    &__button {
      width: 100%;
      text-align: right;

      & button {
        @include vars.button;
        width: fit-content;
        padding: 0.5rem 1.5rem;
        margin-right: 1rem;
        
      }
    }

    &__files {

      &-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
  
        &-item {
          width: fit-content;
          display: flex;
          margin-bottom: 1rem;

          &--open {
            width: 33%;
  
            .file-display {
              width: 40%;
            }
          }
        }
      }
    }
  }
}
