@use 'src/styles/vars';

.home {
  min-height: 83vh;
  padding: 1.5rem;

  &__title {
    min-height: 6rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    font-family: var(--font-title);
    display: none;

    &--responsive {
      @include vars.centeredFlex;
    }

    &-text {
      @include vars.pageTitle;
      color: var(--second-color);
      line-height: normal;
      text-transform: lowercase;
      font-size: 2em;
      display: block;

      & span {
        text-transform: uppercase;
        font-size: 6rem;
      }

    }

    &-group {
      display: flex;
      align-items: flex-end;
      height: 100%;
    
      &-capital, &-rest {
        @include vars.pageTitle;
        color: var(--second-color);
        font-size: 4em;
        margin: 0;
        line-height: normal;
      }

      &-rest  {
        width: 0;
        // opacity: 0;
        overflow: hidden;
        // transition: 1s;
        text-transform: lowercase;
        font-size: 2em;
        // padding: 0 0.2rem 0.75rem;
        // margin-right: 1rem;
        @include vars.centeredFlex;
        // padding-bottom: 0.75rem;
      }
    }

    // &:hover {
    //   height: fit-content;
    //   & .home__title-group-rest {
    //     width: fit-content;
    //     margin-right: 1rem;
    //     opacity: 1;
    //     position: relative;
    //     padding: 0 0.2rem 0.75rem;
    //   }
    // }
  }

  &__new {
    margin-bottom: 2rem;

    &-buttons {
      display: flex;
      justify-content: space-around;

      & svg, & p {
        cursor: pointer;
      }
      

      &-item {
        color: #1a1a1a;
        @include vars.centeredFlex;

        &-image {
          font-size: 5rem;
          color: var(--second-color);
          margin: auto;
        }
      }
    }
  }

  &__login {
    border:1px solid rgba(var(--darkestThemeColor));
    box-shadow: 0px 0px 5px #1a1a1a;
    border-radius: vars.$radius;
    min-height: 10rem;
    margin: 1rem auto;
    padding: 1rem;
    @include vars.centeredFlex;
    flex-direction: column;


    &-text {
      margin: 1rem;
      text-align: justify;
      font-size: 1.4em;
      font-weight: bold;
      color: var(--first-color);
      text-shadow: 1px 1px 1px var(--opposite-theme-color);
    }

    &-button {
      @include vars.button;
    }
  }
}

@media (min-width: vars.$sm) {
  .home {
    padding: 3rem;
    width: 70%;
    margin: auto;

    &__title {
      @include vars.centeredFlex;

      &-text {
        & span {
          font-size: 6rem;
        }
      }

      &--responsive {
        display: none;
      }
    }
  
    &__new {
      margin-bottom: 2rem;
  
      &-buttons {
        display: flex;
        justify-content: space-around;
      }
    }

    &__login {
      margin: auto;
      width: 60%;
    
      &-text {
        font-size: 1.4em;
      }
      

      &-button {
        @include vars.button;
        padding: 1rem;
        font-size: 1em;
      }
    }
  }
}

@media (min-width: 700px) {
  .home {
    padding: 3rem;
    width: 70%;
    margin: auto;
  
    &__new {
      margin-bottom: 2rem;
  
      &-buttons {
        display: flex;
        justify-content: space-around;
      }
    }

    &__title {
  
      &-group {
      
        &-capital, &-rest {
          font-size: 6rem;
        }
  
        &-rest  {
          width: fit-content;
          // transition: 1s;
          text-transform: lowercase;
          font-size: 2.5em;
          padding: 0 0.2rem 0.75rem;
          margin-right: 1rem;
          @include vars.centeredFlex;
          // padding-bottom: 0.75rem;
        }
      }
    }

    &__login {
      margin: auto;
      width: 60%;
    
      &-text {
        font-size: 1.4em;
      }
      

      &-button {
        @include vars.button;
        padding: 1rem;
        font-size: 1em;
      }
    }
  }
}

@media (min-width: 1000px) {
  .home {
    width: calc( 100vw - 300px);
  }
}
