@use 'src/styles/vars';

.home {
  height: 90vh;
  padding: 1.5rem;

  &__title {
    height: 6rem;
    @include vars.centeredFlex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    font-family: var(--font-title);

    &-group {
      display: flex;
      align-items: flex-end;
      height: 100%;
    
      &-capital, &-rest {
        @include vars.pageTitle;
        color: var(--second-color);
        font-size: 4em;
        margin: 0;
        line-height: normal;
      }

      &-rest  {
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition: 1s;
        text-transform: lowercase;
        font-size: 2em;
        @include vars.centeredFlex;
        padding-bottom: 0.75rem;
      }
    }

    &:hover {
      height: fit-content;
      & .home__title-group-rest {
        width: fit-content;
        margin-right: 1rem;
        opacity: 1;
        position: relative;
        padding: 0 0.2rem 0.75rem;
      }
    }
  }

  &__new {
    margin-bottom: 2rem;

    &-buttons {
      display: flex;
      justify-content: space-around;

      &-item {
        color: #1a1a1a;
        @include vars.centeredFlex;

        &-image {
          font-size: 5rem;
          color: var(--second-color);
          margin: auto;
        }
      }
    }
  }
}

@media (min-width: vars.$sm) {
  .home {
    padding: 3rem;
    width: 70%;
    margin: auto;
  
    &__new {
      margin-bottom: 2rem;
  
      &-buttons {
        display: flex;
        justify-content: space-around;
  
        &-item {
          // color: vars.$unimes;
        }
      }
    }

    &__title {
  
      &-group {
      
        &-capital, &-rest {
          font-size: 6rem;
        }
  
        &-rest  {
          font-size: 2.5em;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .home {
    width: calc( 100vw - 300px);
  }
}
