@use "sass:color";
@use 'src/styles/anais';

// Breakpoints 

$sm : 600px;

$radius : 10px;


// THEME 
// https://mybrandnewlogo.com/fr/generateur-de-palette-de-couleurs

$darkestThemeColor: #742946;
$darkerThemeColor: #99384f;
$mediumThemeColor: #d1545e;
$lighterThemeColor: #ff897f;
$lightestThemeColor: #ffcc9c;


// Buttons
@mixin addButton {
  width: 100%;
  background-color: var(--second-color);
  display: block;
  border: 0;
  padding: 0.7rem;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

// display : 
@mixin centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  max-width: 45%;
  margin-right: 0.5rem;
  background-color: var(--second-color);
  border: 1px solid #1a1a1a;
  padding: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--fourth-color);
  font-weight: bold;
  font-size: 0.7em;

  &:hover {
    color: #fff;
    background-color: var(--fourth-color);
  }
}

@mixin pageTitle {
  font-size: 2em;
  text-shadow: 2px 2px 2px #1a1a1a;
  color: var(--second-color);
  text-transform: uppercase;
  margin: 0 auto 2rem;
  line-height: 120%;
  text-align: center;
}
