

$darkestThemeColor: #3d2d3f;
$darkerThemeColor: #5c4159;
$mediumThemeColor: #8a617e;
$lighterThemeColor: #ca8cad;
$lightestThemeColor: #fbc4e8;

// $darkestThemeColor: #212820;
// $darkerThemeColor: #265447;
// $mediumThemeColor: #807f1a;
// $lighterThemeColor: #d5cb75;
// $lightestThemeColor: #e8e8be;

// $darkestThemeColor: #212820;
// $darkerThemeColor: #265447;
// $mediumThemeColor: #807f1a;
// $lighterThemeColor: #d5cb75;
// $lightestThemeColor: #e8e8be;

// $darkestThemeColor: #212820;
// $darkerThemeColor: #265447;
// $mediumThemeColor: #807f1a;
// $lighterThemeColor: #d5cb75;
// $lightestThemeColor: #e8e8be;
