@use 'reset';
@use 'vars';
@use "sass:color";

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

$test: #ffcc9c;
$lighter-first-light-color: fade-out(#ffcc9c, 0.8);
$lighter-first-dark-color: fade-out(#742946, 0.8);
$lighter-second-light-color: fade-out(#ff897f, 0.7);
$lighter-second-dark-color: fade-out(#99384f, 0.7);
// $unimes : #99384f;
// $fadedUnimes : fade-out($unimes, 0.3);
// $orange : #da8123;


:root:not(.dark) {
  --first-color: #ffcc9c;
  --lighter-first-color: #{$lighter-first-light-color};
  --lighter-second-color: #{$lighter-second-light-color};
  --second-color: #ff897f;
  --third-color: #d1545e;
  --fourth-color: #99384f;
  --fifth-color: #742946;
  --opposite-theme-color: #1a1a1a;

  --menu-color: #ffcc9c;
  --menu-title-color: #742946;
  --dark-color: #742946;
  // --primary-color: #742946;
  --unimes-color: #99384f;
  --background-color: #fff;
  --thread-background: var(--second-color);

  --header-height: 10vh;
  
}

:root.dark {
  --first-color: #742946;
  --lighter-first-color: #{$lighter-first-dark-color};
  --lighter-second-color: #{$lighter-second-dark-color};
  --second-color: #99384f;
  --third-color: #d1545e;
  --fourth-color: #ff897f;
  --fifth-color: #ffcc9c;
  --opposite-theme-color: #fff;

  --menu-color: var(--first-color);
  --dark-color: var(--first-color);
  --dark-color: #1a1a1a;
  --menu-title-color: var(--fifth-color);
  --thread-background: var(--second-color);
  --primary-color: #dfdbdb;
  --background-color: var(--fifth-color);
  --unimes-color: var(--first-color);
}

// main {
//   height: 90vh;
// }
