@use 'reset';
@use 'vars';
@use "sass:color";

body {
  font-family: 'Rajdhani', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-page);
}

* {
  box-sizing: border-box;
}

:root {
  --darkestThemeColor: 116, 41, 70, 1;
  --darkerThemeColor: 153, 56, 79, 1;
  --mediumThemeColor: 209, 84, 94, 1;
  --lighterThemeColor: 255, 137, 127, 1;
  --lightestThemeColor: 255, 204, 156, 1;
  --lighterLightestThemeColor: 255, 204, 156, 0.3;
  --lighterDarkestThemeColor: 116, 41, 70, 0.25;
  
  --header-height: 10vh;

  --font-title: 'Lobster';

  --backgroundSuccess: rgb(148, 250, 190);
  --backgroundError: rgb(250, 148, 148);
  --textSuccess: rgb(13, 117, 27);
  --textError: rgb(117, 13, 13);

  // & input[type="radio"] {
  //     /* Add if not using autoprefixer */
  //   -webkit-appearance: none;
  //   appearance: none;
  //   /* For iOS < 15 to remove gradient background */
  //   background-color: #fff;
  //   /* Not removed via appearance */
  //   margin: 0 0.5rem;
  //   color: var(--third-color);
  //   width: 14px;
  //   height: 14px;
  //   border: 1.5px solid var(--third-color);
  //   border-radius: 50%;
  //   transform: translateY(-0.075em);
    
  //   display: flex;
  //   align-self: center;

  //     &::before {
  //       content: "";
  //       width: 10px;
  //       height: 10px;
  //       margin: 1px 0 0 1px;
  //       border-radius: 50%;
  //       transform: scale(0);
  //       transition: 120ms transform ease-in-out;
  //       box-shadow: inset 10px 10px var(--third-color);
  //     }
  // }


  // & input[type="radio"]:checked::before {
  //   transform: scale(1);

  // }

  & iframe {
    width: 100%;
    height: 100%;
  }
}


:root:not(.dark) {

  --first-color: rgba(var(--lightestThemeColor));
  --lighter-first-color: rgba(var(--lighterLightestThemeColor));
  --second-color: rgba(var(--lighterThemeColor));
  --third-color: rgba(var(--mediumThemeColor));
  --fourth-color: rgba(var(--darkerThemeColor));
  --fifth-color: rgba(var(--darkestThemeColor));
  --opposite-theme-color: #1a1a1a;
  --theme-color: #fff;
  --text-shadow: rgba(var(--darkerThemeColor));

  --menu-color: rgba(var(--lightestThemeColor));
  --menu-title-color: rgba(var(--darkestThemeColor));
  --dark-color: rgba(var(--darkestThemeColor));
  --thread-background: rgba(var(--lighterThemeColor));
  --background-page: #fff;
}

:root.dark {
  --first-color: rgba(var(--darkestThemeColor));
  --lighter-first-color: rgba(var(--lighterDarkestThemeColor));
  --second-color: rgba(var(--darkerThemeColor));
  --third-color: rgba(var(--mediumThemeColor));
  --fourth-color: rgba(var(--lighterThemeColor));
  --fifth-color: rgba(var(--lightestThemeColor));
  --opposite-theme-color: #fff;
  --theme-color: rgba(var(--darkestThemeColor));
  --text-shadow: rgba(var(--lighterThemeColor));

  --menu-color: rgba(var(--darkestThemeColor));
  --dark-color: #1a1a1a;
  --menu-title-color: rgba(var(--lightestThemeColor));
  --thread-background: rgba(var(--darkerThemeColor));
  --background-page: rgba(var(--lighterDarkestThemeColor));
}

