.app {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  & header {
    order: 1;
  }

  & main {
    order: 2;
  }
}



@media (min-width: 600px) {
  .app {
    // display: flex;
  }
}
