@use 'src/styles/vars';

.header-container {
  background-color: var(--menu-color);
  // display: flex;
}

.header {
  color: var(--primary-color);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 500;

  &-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(15deg,0);
    margin-right: 1rem;

    &--straight {
      transform: skew(0deg,0);

    }

    & .switch {
      margin: 0.5rem;
    }
  }

  &__identity {

    display: flex;
    height: 100%;
    align-items: center;

    &-logo {
      max-height: 10vh;
      padding: 0.5rem;
    }

    &-title {
      display: none;
    }
    
  }

  &__burger {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 1.5rem;
    

    &-logo {
      max-height: 100%;
      margin: 1rem;

    }
    
  }
}

.header__menu {
  margin-right: -1rem;
  height: 100%;
  transform: skew(-15deg,0);
  display: none;
  transition: 1s;
  color: var(--primary-color);

  &-section {
    position: relative;

    &__item {
      min-width: 10rem;
      height: 100%;
      color: var(--menu-title-color);
      font-weight: bold;
      font-size: 1.3em;
      @include vars.centeredFlex;

      &:last-of-type {
        // width: 4rem;
        min-width: 2rem;
        // border: 1px solid blue;
      }

      &--last-open,
      &:hover {
        padding-left: 1.5rem;
        background-color: #ff897f;
        background: linear-gradient(90deg, rgba(209,84,94,1) 0%, rgba(255,137,127,1) 100%);
        border-bottom: 5px solid #d1545e ;
        color: #742946 ;
      }

      &--last-open {
        background-color: #ff897f;
        background: linear-gradient(90deg, rgba(255,137,127,1) 0%, rgba(209,84,94,1) 100%);
        
      }

      &-list {
        height: 0;
        font-size: 0.7em;
        color: #ffcc9c ;
        width: 0;
        overflow: hidden;
        // transition: 1s;

        & li {
          margin: 0.3rem 0;
        }
      

        &--open {
          width: fit-content;
          height: 8vh;
          margin-left: 1rem;
          padding-left: 0.2rem;
          display: flex;
          justify-content: center;
          align-items: right;
          flex-direction: column;
          margin-right: 0.5rem;

          &:nth-of-type(2) {
            width: 12rem;
          }
        }
      }

    }
  }

  & h3 {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid var(--menu-title-color);
    color: var(--menu-title-color);
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.5rem;
  }

  & ul {

     & li {
      // margin: 1rem;

      & a {
        position: relative;
        // color: #dfdbdb;
      }
     }
  }


  &--open {
    height:90vh;
  }
}

.small-screen-menu {
  // display: none;
  height: 0;
  transition: 1s;
  position: relative;
  overflow: hidden;

  &__section {
      padding: 1rem;
   
    &-title {
      color: var(--fifth-color);
      width: 80%;
      font-size: 1.5em;
      margin: 0 auto 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--fifth-color);
    }

    &-list {

      &-item {
        margin: 0.5rem auto;
        color:var(--primary-color);
      }
    }
  }

  &--open {
    // display: block;
  height: 90vh;
  }
}



#mes-oms {
  position: absolute;
  top: -15px;
  background-color: #E84E24;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 0.25rem;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;


  &::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #E84E24 transparent transparent transparent;
  }
}

@media (min-width: vars.$sm) {


  .header {

//     &-container {
//       border-bottom: 0;
//       border-right: 1px solid black;
//       min-height: 100vh;
//       width: 30%;
//       max-width: 300px;
//       display: block;
//     }
  
    &__burger {
      display: none;
    }

    &__identity {
//       width: 100%;
//       display: block;
//       text-align: center;
//       margin-bottom: 1.5rem;

      &-title {
        font-weight: bold;
        font-size: 2em;
        display: block;
      }
    }
  }

  .header__menu {
    display: flex;
    
  }
}

.menu-bar {
  width: 40px;
  border: 2px solid var(--menu-title-color);
  margin-top: 0.5rem;
  transition: 0.6s;
  position: relative;

  &--ext {
    border-color: transparent;
    background-color: transparent;
  }

  &--int {
    transform: rotate(45deg);
  }

  &--int-bis {
    transform: rotate(-90deg);
  }

  &:first-child {
    margin: 0;
  }
}

#secondbis-bar {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 40px;
  margin: 0;
}
