@use 'src/styles/vars';

#documents-validation {
    margin: 1rem auto 2rem;
}

.theme {
  border-radius: vars.$radius;
  height: fit-content;
  margin: auto;
  max-width: 700px;
  padding: 1rem 1rem 0;
  width: 90%;

  &__container {

    &-theme {
      display: flex;
      margin-bottom: 2rem;

      &-colors {
        display: flex;
        width: 40%;
        height: 3rem;
        border: 1px solid #000;
        border-radius: 5px;
        overflow: hidden;

        &-color {
          width: 20%;
          height: 100%;

          &:nth-of-type(1) {
            background-color: #020402 ;
          }
          &:nth-of-type(2) {
            
            background-color: #0c2c30 ;
          }
          &:nth-of-type(3) {
            
            background-color: #468884 ;
          }
          &:nth-of-type(4) {
            
            background-color: #98c4ac ;
          }
          &:nth-of-type(5) {
            background-color: #dfe7da ;
            
          }

        }
      }
    }
  }
}

.my-preferences {
  // background-color: var(--lighter-first-color);
  min-height: 90vh;
  margin: auto;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: vars.$sm) {
  
  .theme {
    background-color: var(--lighter-first-color);
    border: 1px solid #1a1a1a;
    padding: 2rem 2rem 0;
    width: 90%;
  
    &__container {

      display: flex;
      flex-wrap: wrap;
      

      &-theme {
        width: 50%;

        &-colors {
          height: 5rem;
          width: 50%;
        }
      }
    }
  }

  .my-preferences {
    // background-color: #fff;
    width: 80%;
  }
}

@media (min-width: 1000px) {
  
  .theme {
    width: 75%;
  }
}

.file-displayer {
  background-color: #fff;
  border: 0.5px solid #000;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  display: flex;

  &__icon-container {
    width: 3rem;
    height: 3rem;
    // padding: 0.2rem;:
    background-color: var(--first-color);
    @include vars.centeredFlex;
    border-right: 0.5px solid #000;

    &-icon {
      color: var(--fifth-color);
      font-size: 2em;
    }
  }

  &__name {
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }

  &__select {
    padding-left: 1rem;
    border: 0;
    width: calc(100% - 3rem);
    display: flex;
    align-items: center;
  }
}

.file-manager {

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto 1rem;

      &-button {
        @include vars.button;
        padding: 0.5rem;
        flex-grow: 1;
        margin-right: 0.5rem;
        background-color: var(--first-color);
        font-size: 1em;

        &:last-of-type {
           margin: 0;
        }
      }

  }
}
