@use 'src/styles/vars';

.trip {
  padding: 1rem;
  margin: 1rem;
  // background-color: hsl(0, 0%, 100%);
  border-radius: vars.$radius;
  // border: 1px solid var(--opposite-theme-color);
  border: 1px solid rgba(var(--darkestThemeColor));

  &__fields {
    display: flex;
    justify-content: space-between;

    &-column {
      width: 38%;

      &--delete {
        width: 10%;
        display: flex;
        align-items: center;
      }
    }
  }
}
