@use 'src/styles/vars';

.footer {
  border-top: 1px solid rgba(var(--darkestThemeColor));
  @include vars.centeredFlex;
  height: 7vh;
  background-color: var(--first-color);
  
  & img {
    max-height: 70%;
  }
}
