@use 'src/styles/vars';

.header-container {
  background-color: var(--menu-color);
}

.header {
  color:  var(--opposite-theme-color);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-theme {
    display: flex;
    align-items: center;
    justify-content: center;

    &--straight {
      transform: skew(0deg,0);
      margin-right: 0;

    }

    & .switch {
      margin: 0.5rem;
    }
  }

  &__identity {

    display: flex;
    height: 100%;
    align-items: center;

    &-logo {
      height: 80%;
      padding: 0 0.5rem;
      margin: 0.5rem;
      background-color: var(--fifth-color);
      font-family: var(--font-title);
      border-radius: vars.$radius;
      color: var(--first-color);
      font-size: 2.5em;
      @include vars.centeredFlex;
      
      text-shadow: 1px 1px 1px var(--opposite-theme-color);
      text-shadow: 1px 1px 1px #fff;
    }

    &-title {
      display: none;
    }
    
  }

  &__burger {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 1.5rem;
    

    &-logo {
      max-height: 100%;
      margin: 1rem;

    }
    
  }
}

.header__menu {
  margin-right: -1rem;
  height: 100%;
  display: none;
  transition: 1s;

  &-section {

    width: 10rem;
    height: 100%;
    color: var(--menu-title-color);
    font-size: 1.3em;
    position: relative;
    @include vars.centeredFlex;

    &:hover {
      background-color: var(--fourth-color);
      border-bottom: 5px solid var(--third-color) ;
      color: var(--first-color) ;
      width: 12rem;
      transition: 1s;
    }

    &-list {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 0;
      font-size: 0.7em;
      color:#fff;
      text-shadow: 1px 1px 1px var(--dark-color);
      text-transform: uppercase;
      
      transition: 0.6s;
      overflow: hidden;
      padding: 0.5rem;

      & li {
        margin: 0.5rem;
        position: relative;

        &:hover {
          color: var(--first-color);
          font-style: italic;
          font-size: 1.05em;
          cursor: pointer;
          font-weight: bold;
          z-index: 999;
          
        }
      }
    
      &--open {
        background-color: var(--fourth-color);
        left: 0;
        top: calc(100% + 5px);
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-shadow: none;
        z-index: 999;

        &:nth-of-type(2) {
          width: 12rem;
        }
      }
    }
  }

  &--open {
    height:90vh;
  }
}

// CSS for the responsive menu 
.small-screen-menu {
  height: 0;
  min-height: 0;
  transition: 1s;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;

  &__section {
      padding: 1rem 1rem ;
      width: 80%;
      margin: auto;
   
    &-title {
      color: var(--fifth-color);
      font-size: 1.5em;
      margin: 0 auto ;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--fifth-color);
      font-weight: bold;
    }

    &-list {

      &-item {
        border-bottom: 1px solid var(--first-color);
        padding: 1rem;
        position: relative;
        color:  var(--opposite-theme-color);;
        background-color: #ffffff3d;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--fifth-color);

      }

      & a:last-child li {
        border-radius: 0 0 vars.$radius vars.$radius;
      }
      
    }

    &-icons {
      display: flex;
      justify-content: center;

      &-item {
        color: var(--fifth-color);
        font-size: 2rem;
        margin:  0 1rem;

        &--theme {
          // background-color: var(--fifth-color);
          border: 1px solid var(--fifth-color);
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          // color: var(--first-color);
          font-size: 1rem;
          padding: 0.2rem;
        }
      }
    }
  }

  &--open {
    
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 2rem;
  }
}



#mes-oms {
  position: absolute;
  top: -15px;
  background-color: var(--second-color);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 0.25rem;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;


  &::after {
    position: absolute;
    content: '';
    top: 15px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: var(--second-color) transparent transparent transparent;
  }
}

.small-screen-menu #mes-oms {
  background-color: var(--fourth-color);

  &::after {
    border-color: var(--fourth-color) transparent transparent transparent;
  }
}

@media (min-width: vars.$sm) {
  .header-container {
    padding: 0 1rem 0 0;
  }

  .header {  
    &__burger {
      display: none;
    }

    &__identity {
      &-title {
        font-weight: bold;
        font-size: 2em;
        display: block;
      }

      &-logo {
        font-size: 4.5rem;
        padding: 1.5rem;
        // box-shadow: 1px 1px 1px #fff;
      }
    }
    
  }

  .header__menu {
    display: flex;
    
  }
}

.menu-bar {
  width: 40px;
  border: 2px solid var(--menu-title-color);
  margin-top: 0.5rem;
  transition: 0.6s;
  position: relative;

  &--ext {
    border-color: transparent;
    background-color: transparent;
  }

  &--int {
    transform: rotate(45deg);
  }

  &--int-bis {
    transform: rotate(-90deg);
  }

  &:first-child {
    margin: 0;
  }
}

#secondbis-bar {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 40px;
  margin: 0;
}
